.container {
    height: 400px;
    max-width: 300px;
    margin: 1px;
    display: flex;
    flex-flow: wrap;
    border: 1px solid black;
}

.item {
    background-color: orangered;
    padding: 0 5px;
    margin: 5px;
    flex: 1;
    text-align: center;
    color: white;
}

.stretch {
    align-content: stretch;
}

.centro {
    align-content: center;
}

.start {
    align-content: flex-start;
}

.end {
    align-content: flex-end;
}

.around {
    align-content: space-around;
}

.between {
    align-content: space-between;
}