/* Folha de estilos para aprender display: flex */

* {
    margin: 5px;
    padding: 0px;
    list-style: none;
}

/* delimita mas nao muda a orientacao */
.flexbox {
    max-width: 200px;
    padding: 10px;
    border: 2px solid black;
    display: flexbox;
}

/* delimita e coloca todo mundo em row */
.flex {
    max-width: 250px;
    padding: 5px;
    /* border: 2px solid gray; */
    border-radius: 10px;
    color: orangered;
    background: gold;
    display: flex;
}

/* formata os itens dentro das divs */
.item {
    background-color: yellow;
    margin: 2px;
    padding: 2px;
    border-radius: 10px;
    text-align: center;
    text-transform: lowercase;
}

/* formata itens detro de uma lista */
.flex-item {
    background: peru;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 2px;
    border-radius: 50%;
}

/* modo default linha */
.row {
    flex-direction: row;
}

/* linha invertida */
.row-reverse {
    flex-direction: row-reverse;
}

/* em coluna */
.column {
    float: left;
    flex-direction: column;
}

/* em coluna invertida */
.column-reverse {
    float: right;
    flex-direction: column-reverse;
}

.nowrap {
    flex-wrap: nowrap;
}

.wrap {
    flex-wrap: wrap;
}

.wrap-reverse {
    flex-wrap: wrap-reverse;
}